.btn {
    transition: all 0.4s;
}

.btn:hover {
    transform: scale(1.3);
    /* box-shadow: 0 0 5px red,
        0 0 25px orange,
        0 0 50px red; */
}

.logo:hover {
    transform: scale(1.1);

}

.logo {
    transition: all 0.4s;
}